/**
* Variables
*/

// Color
$primaryColor: #61dafb;
$black: #000000;
$white: #E7E9EB;
$pink-hover: #f37c8e;

// link
$text-decoration-none: none;

//text
$font-weight-bold: bold;
$text-align-center: center;
