form {
  display: flex;
  align-items: center;
}

form input,
form button {
  outline: none; /* removes the outline of placeholder */
  padding: 10px;
  font-size: 26px;
  border:2px;
  background: rgb(246, 225, 225);
  border-radius: 17px;
  margin: 10px;
}
form input{
  border: 5px;
  padding: 10px;
}

form button {
  color: #f37c8e;
  background: rgb(246, 225, 225);
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover{
  background :#b7b5b5 ;
  color: white;
}

input::placeholder{
  color: #010101;
  padding: 7px;
  margin: 7px;
  border: 2px;
  font-size: 20px;
}
