.list-work {
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  .col-3 {
    width: 25%;
  }

  .item {
    padding: 30px;
    background-color: #f6e1e1;
    margin: 15px;
    border-radius: 30px;

    .title {
      text-align: center;
      a {
        text-decoration: none;
        font-size: 18px;
        color: #000000;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .detail {
      margin-top: 25px;
      color: #ff445f;
      line-height: 24px;
    }
  }
}
